@import url('https://fonts.googleapis.com/css2?family=Acme&family=Anton&display=swap');

* {
  box-sizing: border-box;
}

/* STYLES WAVE HEADER*/

.path-0{
    animation:pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-0{
    0%{
      d: path("M 0,500 C 0,500 0,125 0,125 C 104.62200956937801,128.99043062200957 209.24401913875602,132.98086124401914 304,124 C 398.755980861244,115.01913875598086 483.645933014354,93.066985645933 589,103 C 694.354066985646,112.933014354067 820.1722488038276,154.75119617224883 903,153 C 985.8277511961724,151.24880382775117 1025.6650717703349,105.92822966507177 1108,94 C 1190.3349282296651,82.07177033492823 1315.1674641148325,103.53588516746412 1440,125 C 1440,125 1440,500 1440,500 Z");
    }
    25%{
      d: path("M 0,500 C 0,500 0,125 0,125 C 107.54066985645932,133.94736842105263 215.08133971291863,142.89473684210526 313,135 C 410.91866028708137,127.10526315789473 499.21531100478467,102.36842105263158 589,102 C 678.7846889952153,101.63157894736842 770.0574162679427,125.63157894736844 870,134 C 969.9425837320573,142.36842105263156 1078.5550239234449,135.10526315789474 1175,131 C 1271.4449760765551,126.89473684210526 1355.7224880382776,125.94736842105263 1440,125 C 1440,125 1440,500 1440,500 Z");
    }
    50%{
      d: path("M 0,500 C 0,500 0,125 0,125 C 105.24401913875596,106.19617224880382 210.48803827751192,87.39234449760764 300,87 C 389.5119617224881,86.60765550239236 463.2918660287082,104.62679425837322 565,109 C 666.7081339712918,113.37320574162678 796.3444976076553,104.10047846889952 901,101 C 1005.6555023923447,97.89952153110048 1085.33014354067,100.97129186602871 1171,106 C 1256.66985645933,111.02870813397129 1348.334928229665,118.01435406698565 1440,125 C 1440,125 1440,500 1440,500 Z");
    }
    75%{
      d: path("M 0,500 C 0,500 0,125 0,125 C 89.20574162679426,151.41148325358853 178.41148325358853,177.82296650717703 268,165 C 357.58851674641147,152.17703349282297 447.5598086124402,100.11961722488037 540,91 C 632.4401913875598,81.88038277511963 727.3492822966508,115.69856459330146 839,126 C 950.6507177033492,136.30143540669854 1079.0430622009567,123.08612440191388 1182,119 C 1284.9569377990433,114.91387559808612 1362.4784688995217,119.95693779904306 1440,125 C 1440,125 1440,500 1440,500 Z");
    }
    100%{
      d: path("M 0,500 C 0,500 0,125 0,125 C 104.62200956937801,128.99043062200957 209.24401913875602,132.98086124401914 304,124 C 398.755980861244,115.01913875598086 483.645933014354,93.066985645933 589,103 C 694.354066985646,112.933014354067 820.1722488038276,154.75119617224883 903,153 C 985.8277511961724,151.24880382775117 1025.6650717703349,105.92822966507177 1108,94 C 1190.3349282296651,82.07177033492823 1315.1674641148325,103.53588516746412 1440,125 C 1440,125 1440,500 1440,500 Z");
    }
}

.path-1{
    animation:pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-1{
    0%{
      d: path("M 0,500 C 0,500 0,250 0,250 C 99.03349282296651,265.95215311004785 198.06698564593302,281.9043062200957 287,285 C 375.933014354067,288.0956937799043 454.76555023923447,278.334928229665 547,274 C 639.2344497607655,269.665071770335 744.8708133971292,270.75598086124404 837,259 C 929.1291866028708,247.24401913875596 1007.7511961722489,222.64114832535884 1106,219 C 1204.248803827751,215.35885167464116 1322.1244019138755,232.6794258373206 1440,250 C 1440,250 1440,500 1440,500 Z");
    }
    25%{
      d: path("M 0,500 C 0,500 0,250 0,250 C 88.04784688995213,258.07655502392345 176.09569377990425,266.1531100478469 271,273 C 365.90430622009575,279.8468899521531 467.665071770335,285.46411483253587 561,269 C 654.334928229665,252.53588516746413 739.244019138756,213.99043062200957 835,221 C 930.755980861244,228.00956937799043 1037.358851674641,280.57416267942585 1140,293 C 1242.641148325359,305.42583732057415 1341.3205741626793,277.7129186602871 1440,250 C 1440,250 1440,500 1440,500 Z");
    }
    50%{
      d: path("M 0,500 C 0,500 0,250 0,250 C 104.09569377990434,264.2105263157895 208.19138755980867,278.42105263157896 313,270 C 417.8086124401913,261.57894736842104 523.3301435406698,230.52631578947367 599,221 C 674.6698564593302,211.47368421052633 720.4880382775118,223.47368421052633 811,224 C 901.5119617224882,224.52631578947367 1036.7177033492824,213.57894736842104 1149,216 C 1261.2822966507176,218.42105263157896 1350.6411483253587,234.21052631578948 1440,250 C 1440,250 1440,500 1440,500 Z");
    }
    75%{
      d: path("M 0,500 C 0,500 0,250 0,250 C 106.61244019138758,252.63157894736844 213.22488038277515,255.26315789473685 321,247 C 428.77511961722485,238.73684210526315 537.7129186602871,219.578947368421 624,225 C 710.2870813397129,230.421052631579 773.9234449760766,260.42105263157896 868,274 C 962.0765550239234,287.57894736842104 1086.5933014354068,284.7368421052632 1187,278 C 1287.4066985645932,271.2631578947368 1363.7033492822966,260.63157894736844 1440,250 C 1440,250 1440,500 1440,500 Z");
    }
    100%{
      d: path("M 0,500 C 0,500 0,250 0,250 C 99.03349282296651,265.95215311004785 198.06698564593302,281.9043062200957 287,285 C 375.933014354067,288.0956937799043 454.76555023923447,278.334928229665 547,274 C 639.2344497607655,269.665071770335 744.8708133971292,270.75598086124404 837,259 C 929.1291866028708,247.24401913875596 1007.7511961722489,222.64114832535884 1106,219 C 1204.248803827751,215.35885167464116 1322.1244019138755,232.6794258373206 1440,250 C 1440,250 1440,500 1440,500 Z");
    }
  }

  .path-2{
    animation:pathAnim-2 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-2{
    0%{
      d: path("M 0,500 C 0,500 0,375 0,375 C 112.22009569377991,382.6459330143541 224.44019138755982,390.29186602870817 327,384 C 429.5598086124402,377.70813397129183 522.4593301435407,357.4784688995215 611,360 C 699.5406698564593,362.5215311004785 783.7224880382777,387.79425837320576 886,396 C 988.2775119617223,404.20574162679424 1108.6507177033493,395.3444976076555 1204,389 C 1299.3492822966507,382.6555023923445 1369.6746411483255,378.82775119617224 1440,375 C 1440,375 1440,500 1440,500 Z");
    }
    25%{
      d: path("M 0,500 C 0,500 0,375 0,375 C 124.08612440191388,388.82775119617224 248.17224880382776,402.65550239234454 331,410 C 413.82775119617224,417.34449760765546 455.3971291866028,418.20574162679424 541,402 C 626.6028708133972,385.79425837320576 756.2392344497606,352.52153110047846 875,343 C 993.7607655502394,333.47846889952154 1101.6459330143541,347.7081339712919 1194,357 C 1286.3540669856459,366.2918660287081 1363.1770334928228,370.64593301435406 1440,375 C 1440,375 1440,500 1440,500 Z");
    }
    50%{
      d: path("M 0,500 C 0,500 0,375 0,375 C 63.215311004784695,385.7464114832536 126.43062200956939,396.49282296650716 236,399 C 345.5693779904306,401.50717703349284 501.4928229665072,395.7751196172249 605,401 C 708.5071770334928,406.2248803827751 759.5980861244019,422.4066985645932 832,417 C 904.4019138755981,411.5933014354068 998.1148325358852,384.5980861244019 1103,374 C 1207.8851674641148,363.4019138755981 1323.9425837320573,369.20095693779905 1440,375 C 1440,375 1440,500 1440,500 Z");
    }
    75%{
      d: path("M 0,500 C 0,500 0,375 0,375 C 97.65550239234452,370.1004784688995 195.31100478468903,365.20095693779905 290,370 C 384.68899521531097,374.79904306220095 476.4114832535885,389.29665071770336 563,381 C 649.5885167464115,372.70334928229664 731.043062200957,341.6124401913875 817,342 C 902.956937799043,342.3875598086125 993.4162679425838,374.25358851674645 1098,385 C 1202.5837320574162,395.74641148325355 1321.2918660287082,385.37320574162675 1440,375 C 1440,375 1440,500 1440,500 Z");
    }
    100%{
      d: path("M 0,500 C 0,500 0,375 0,375 C 112.22009569377991,382.6459330143541 224.44019138755982,390.29186602870817 327,384 C 429.5598086124402,377.70813397129183 522.4593301435407,357.4784688995215 611,360 C 699.5406698564593,362.5215311004785 783.7224880382777,387.79425837320576 886,396 C 988.2775119617223,404.20574162679424 1108.6507177033493,395.3444976076555 1204,389 C 1299.3492822966507,382.6555023923445 1369.6746411483255,378.82775119617224 1440,375 C 1440,375 1440,500 1440,500 Z");
    }
  }


/* --- */

/* STYLE WAVE FOOTER */
.path-3{
    animation:pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-3{
    0%{
      d: path("M 0,400 C 0,400 0,133 0,133 C 122.39285714285714,100.21428571428572 244.78571428571428,67.42857142857143 371,87 C 497.2142857142857,106.57142857142857 627.2499999999999,178.5 739,178 C 850.7500000000001,177.5 944.2142857142858,104.57142857142857 1058,85 C 1171.7857142857142,65.42857142857143 1305.892857142857,99.21428571428572 1440,133 C 1440,133 1440,400 1440,400 Z");
    }
    25%{
      d: path("M 0,400 C 0,400 0,133 0,133 C 87.14285714285711,127.17857142857143 174.28571428571422,121.35714285714286 308,133 C 441.7142857142858,144.64285714285714 622.0000000000002,173.75000000000003 769,181 C 915.9999999999998,188.24999999999997 1029.7142857142856,173.64285714285714 1136,162 C 1242.2857142857144,150.35714285714286 1341.1428571428573,141.67857142857144 1440,133 C 1440,133 1440,400 1440,400 Z");
    }
    50%{
      d: path("M 0,400 C 0,400 0,133 0,133 C 103.35714285714289,141.53571428571428 206.71428571428578,150.07142857142858 334,147 C 461.2857142857142,143.92857142857142 612.4999999999998,129.25 728,115 C 843.5000000000002,100.75000000000001 923.2857142857144,86.92857142857143 1036,90 C 1148.7142857142856,93.07142857142857 1294.3571428571427,113.03571428571428 1440,133 C 1440,133 1440,400 1440,400 Z");
    }
    75%{
      d: path("M 0,400 C 0,400 0,133 0,133 C 86.07142857142858,136.46428571428572 172.14285714285717,139.92857142857142 310,140 C 447.85714285714283,140.07142857142858 637.5,136.75 760,124 C 882.5,111.24999999999999 937.8571428571429,89.07142857142857 1040,89 C 1142.142857142857,88.92857142857143 1291.0714285714284,110.96428571428572 1440,133 C 1440,133 1440,400 1440,400 Z");
    }
    100%{
      d: path("M 0,400 C 0,400 0,133 0,133 C 122.39285714285714,100.21428571428572 244.78571428571428,67.42857142857143 371,87 C 497.2142857142857,106.57142857142857 627.2499999999999,178.5 739,178 C 850.7500000000001,177.5 944.2142857142858,104.57142857142857 1058,85 C 1171.7857142857142,65.42857142857143 1305.892857142857,99.21428571428572 1440,133 C 1440,133 1440,400 1440,400 Z");
    }
  }
  .path-4{
    animation:pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-4{
    0%{
      d: path("M 0,400 C 0,400 0,266 0,266 C 89.5,249.35714285714286 179,232.71428571428572 309,233 C 439,233.28571428571428 609.5,250.5 738,260 C 866.5,269.5 953,271.2857142857143 1063,271 C 1173,270.7142857142857 1306.5,268.3571428571429 1440,266 C 1440,266 1440,400 1440,400 Z");
    }
    25%{
      d: path("M 0,400 C 0,400 0,266 0,266 C 123.92857142857142,263.6428571428571 247.85714285714283,261.2857142857143 355,260 C 462.14285714285717,258.7142857142857 552.5,258.5 682,265 C 811.5,271.5 980.1428571428573,284.7142857142857 1113,286 C 1245.8571428571427,287.2857142857143 1342.9285714285713,276.6428571428571 1440,266 C 1440,266 1440,400 1440,400 Z");
    }
    50%{
      d: path("M 0,400 C 0,400 0,266 0,266 C 119.78571428571428,279.17857142857144 239.57142857142856,292.35714285714283 373,283 C 506.42857142857144,273.64285714285717 653.5,241.75 760,250 C 866.5,258.25 932.4285714285716,306.64285714285717 1039,316 C 1145.5714285714284,325.35714285714283 1292.7857142857142,295.67857142857144 1440,266 C 1440,266 1440,400 1440,400 Z");
    }
    75%{
      d: path("M 0,400 C 0,400 0,266 0,266 C 122.82142857142858,266.57142857142856 245.64285714285717,267.1428571428571 346,252 C 446.35714285714283,236.85714285714286 524.2499999999999,206 660,217 C 795.7500000000001,228 989.3571428571429,280.85714285714283 1129,296 C 1268.642857142857,311.14285714285717 1354.3214285714284,288.57142857142856 1440,266 C 1440,266 1440,400 1440,400 Z");
    }
    100%{
      d: path("M 0,400 C 0,400 0,266 0,266 C 89.5,249.35714285714286 179,232.71428571428572 309,233 C 439,233.28571428571428 609.5,250.5 738,260 C 866.5,269.5 953,271.2857142857143 1063,271 C 1173,270.7142857142857 1306.5,268.3571428571429 1440,266 C 1440,266 1440,400 1440,400 Z");
    }
  }
/* ---- */

section{
  transform: translate(400%);
  transition: transform 0.9s ease-in-out;
}

section:nth-of-type(even){
  transform: translate(-400%);
}

section.show{
  transform: translateX(0);
}

.container-header{
    margin-top: -50vh;
    font-family: 'Acme', sans-serif; 
    color: rgb(238, 241, 18);
   
    
}

.title{
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    margin-top: -5vh;
}
.container-nosotros, .container-servicios{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
}
.container-contacto{
    margin-top: 20vh;
}

/* @keyframes aparecer{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes traer{
    0%{
        opacity: 0;
        transform: translateX(-20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
} */
p{
    font-size: large;
    display: contents;
    justify-content: center;
    align-items: center;    
    text-align: center;


}


.s-title{
    font-size: 30px;
    font-family: 'Anton', sans-serif;
    margin: 20px;
    align-items: center;
}


.carousel{
    width: 50vw;
}

.img-carousel{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-nosotros{
  position: absolute;
  z-index: -1;
  width: 50vw;
  margin-top: 10vh;
  margin-left: 20vw;
  opacity: 0.5;
  
}

.section-redes, a{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px;

}
.icon:hover{
  color: aqua;
}

.section-info, p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-size: medium;
}

